:root {
	--burgundy: #77091cff;
	--blood-red: #611402ff;
	--black-bean: #460401ff;
	--orange-web: #f9a605ff;
	--reseda-green: #7a7945ff;
	--dark-moss-green: #494b24ff;
	--earth-yellow: #dda450ff;
	--ochre: #d37113ff;
	--orange-peel: #fc9f01ff;
	--orange-pantone: #f65702ff;
	--color: #181818;
}

body {
	background-color: var(--dark-moss-green);
	color: var(--color);
}

h1 {
	text-align: center;
	font-weight: bold;
	font-size: 3em;
}

.form {
	display: flex;
	align-content: center;
	justify-content: center;
}

.form .inputs {
	background-color: var(--earth-yellow);
	padding: 1%;
	border-radius: 5px;
	font-size: 1.2em;
}

input {
	border-radius: 5px;
	margin: 1%;
	width: 100%;
}

.board {
	background-color: var(--ochre);
	display: grid;
	grid-template-columns: repeat(19, 30px);
	grid-template-rows: repeat(19, 30px);
}

.cell {
	width: 30px;
	height: 30px;
	border: 1px solid var(--color);
}
